<!-- {% load static %} -->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'bookcss/footer.css' %}" />
    
</head>
<body>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>About Us</h4>
                    <ul>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Join Our Newsletter</h4>
                    <div class="emailtext">
                        <input type="email" placeholder="Enter your email">
                        <input type="submit" value="Sign-Up">
                    </div>
                </div>
            </div>
        </div>
    </footer>




</body>


</html>